altgraph==0.17.2
future==0.18.2
Jinja2==3.0.3
MarkupSafe==2.1.0
pefile==2021.9.3
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.2
PyPDF2==1.26.0
PySide2==5.15.2.1
pywin32-ctypes==0.2.0
qt-material==2.10
shiboken2==5.15.2.1
